USE [master]
GO
/****** Object:  Database [CoomulsoftApp]    Script Date: 26/07/2019 11:27:52 p. m. ******/
CREATE DATABASE [CoomulsoftApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoomulsoftApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CoomulsoftApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoomulsoftApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CoomulsoftApp_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoomulsoftApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoomulsoftApp]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/07/2019 11:27:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Codigo viaje] [int] NOT NULL,
	[Identificacion] [varchar](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conductores]    Script Date: 26/07/2019 11:27:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductores](
	[Cedula] [varchar](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Fecha nacimiento] [date] NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Imagen] [image] NULL,
	[Licencia] [varchar](50) NOT NULL,
	[Estado licencia] [varchar](50) NOT NULL,
	[Fecha vencimiento licencia] [date] NOT NULL,
	[Vehiculo asignado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 26/07/2019 11:27:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[Ciudad origen] [varchar](50) NOT NULL,
	[Departamento origen] [varchar](50) NOT NULL,
	[Ciudad destino] [varchar](50) NOT NULL,
	[Departamento destino] [varchar](50) NOT NULL,
	[Tarifa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 26/07/2019 11:27:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Imagen] [image] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Placa vehiculo] [varchar](50) NOT NULL,
	[Año modelo] [varchar](50) NOT NULL,
	[Tipo vehiculo] [varchar](50) NOT NULL,
	[Capacidad pasajeros] [int] NOT NULL,
	[Capacidad maletero] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viajes]    Script Date: 26/07/2019 11:27:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viajes](
	[Codigo viaje] [int] NOT NULL,
	[Cedula conductor] [varchar](50) NOT NULL,
	[Codigo vehiculo] [varchar](max) NOT NULL,
	[Fecha salida] [date] NOT NULL,
	[Hora salida] [date] NOT NULL,
	[Ciudad origen] [varchar](50) NOT NULL,
	[Ciudad destino] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Codigo viaje], [Identificacion], [Nombres], [Apellidos], [Telefono], [Direccion]) VALUES (962, N'', N'', N'', N'', N'')
INSERT [dbo].[Clientes] ([Codigo viaje], [Identificacion], [Nombres], [Apellidos], [Telefono], [Direccion]) VALUES (962, N'', N'', N'', N'', N'')
INSERT [dbo].[Clientes] ([Codigo viaje], [Identificacion], [Nombres], [Apellidos], [Telefono], [Direccion]) VALUES (962, N'', N'', N'', N'', N'')
INSERT [dbo].[Rutas] ([Ciudad origen], [Departamento origen], [Ciudad destino], [Departamento destino], [Tarifa]) VALUES (N'Codazzi', N'Cesat', N'Valledupar', N'Cesar', 12000)
INSERT [dbo].[Rutas] ([Ciudad origen], [Departamento origen], [Ciudad destino], [Departamento destino], [Tarifa]) VALUES (N'Valledupar', N'Cesar', N'Codazzi', N'Cesat', 12000)
INSERT [dbo].[Rutas] ([Ciudad origen], [Departamento origen], [Ciudad destino], [Departamento destino], [Tarifa]) VALUES (N'San diego', N'Cesar', N'Valledupar', N'Cesar', 5000)
USE [master]
GO
